{% macro render_twitter_player_card_meta(article, SITEURL) %}
<meta name="twitter:card" content="player" />
<meta name="twitter:title" content="{{ article.title }}"/>
<meta name="twitter:description" content="{{ article.title }}"/>
<meta name="twitter:site" content="@if1live" />

<meta name="twitter:image" content="{{ SITEURL }}/{{ article.video_jpg_url }}" />
<meta name="twitter:player" content="{{ SITEURL }}/{{ article.player_card_url }}" />

<meta name="twitter:player:width" content="{{ article.video_width }}"/>
<meta name="twitter:player:height" content="{{ article.video_height }}"/>

<meta name="twitter:player:stream" content="{{ SITEURL }}/{{ article.video_mp4_url }}" />
<meta name="twitter:player:stream:content_type" content="video/mp4"/>
{% endmacro %}


{% macro render_twitter_photo_card_meta(article, SITEURL) %}
<meta name="twitter:card" content="photo" />
<meta name="twitter:title" content="{{ article.title }}"/>
<meta name="twitter:site" content="@if1live" />

<meta name="twitter:image" content="{{ SITEURL }}/{{ article.media_url }}" />
<meta name="twitter:image:src" content="{{ SITEURL }}/{{ article.media_url }}" />
<meta name="twitter:url" content="{{ SITEURL }}/{{ article.media_url }}" />
{% endmacro %}


{% macro render_video(article, SITEURL) %}
<video width="{{ article.video_width }}"
	   height="{{ article.video_height }}"
	   poster="{{ SITEURL }}/{{ article.video_jpg_url }}"
	   loop>
  <source src="{{ SITEURL }}/{{ article.video_mp4_url }}" type="video/mp4"></source>
  <source src="{{ SITEURL }}/{{ article.video_webm_url }}" type="video/webm"></source>
  <source src="{{ SITEURL }}/{{ article.video_ogv_url }}" type="video/ogv"></source>
  Your browser does not support the video tag.
</video>
{% endmacro %}

{% macro render_fullscreen_video(article, SITEURL) %}
<video poster="{{ SITEURL }}/{{ article.video_jpg_url }}"
	   class="video-fullsize"
	   loop>
  <source src="{{ SITEURL }}/{{ article.video_mp4_url }}" type="video/mp4"></source>
  <source src="{{ SITEURL }}/{{ article.video_webm_url }}" type="video/webm"></source>
  <source src="{{ SITEURL }}/{{ article.video_ogv_url }}" type="video/ogv"></source>
  Your browser does not support the video tag.
</video>
{% endmacro %}
