{% macro render_twitter_player_card_meta(article, SITEURL) %}
<meta name="twitter:card" content="player" />
<meta name="twitter:title" content="{{ article.title }}"/>
<meta name="twitter:site" content="@if1live" />

<meta name="twitter:image" content="{{ SITEURL }}/{{ article.player_thumbnail_url }}" />
<meta name="twitter:player" content="{{ SITEURL }}/{{ article.player_card_url }}" />
<!-- TODO -->
<meta name="twitter:player:width" content="{{ article.video_width }}"/>
<meta name="twitter:player:height" content="{{ article.video_height }}"/>
<meta name="twitter:player:stream" content="{{ SITEURL }}/{{ article.media_url }}" />
<meta name="twitter:url" content="{{ SITEURL }}/{{ article.media_url }}" />
{% endmacro %}


{% macro render_twitter_photo_card_meta(article, SITEURL) %}
<meta name="twitter:card" content="photo" />
<meta name="twitter:title" content="{{ article.title }}"/>
<meta name="twitter:site" content="@if1live" />

<meta name="twitter:image" content="{{ SITEURL }}/{{ article.media_url }}" />
<meta name="twitter:image:src" content="{{ SITEURL }}/{{ article.media_url }}" />
<meta name="twitter:url" content="{{ SITEURL }}/{{ article.media_url }}" />
{% endmacro %}
