{% extends "base.html" %}

{% block title -%}
{{ article.title }}
{%- endblock title %}

{% block head %}

{{ super() }}
<meta name="description" content="{{ article.title }}">
<meta name="keywords" content="{{ article.tags|list|join(',') }}">

<meta name="twitter:card" content="photo" />
<meta name="twitter:site" content="@if1live" />
<meta name="twitter:title" content="{{ article.title }}"/>
<meta name="twitter:image" content="{{ SITEURL }}/images/{{ article.image }}" />
<meta name="twitter:image:src" content="{{ SITEURL }}/images/{{ article.image }}" />
<meta name="twitter:url" content="{{ SITEURL }}/images/{{ article.image }}" />
<meta name="twitter:domain" content="{{ SITEURL }}" />
{% endblock %}

{% block content %}
<h2>{{ article.title }}</h2>
<dl>
	<dt>URL</dt>
	<dd>{{ SITEURL }}/{{ article.url }}</dd>
	<dt>Image URL</dt>
	<dd>{{ SITEURL }}/images/{{ article.image }}</dd>
	{% if article.origin %}
	<dt>Origin</dt>
	<dd><a href="{{ article.origin }}" target="_blank">origin</a></dd>
	{% endif %}
	{% if article.ref %}
	<dt>References</dt>
	<dd>
		{% if article.ref is string %}
		<a href="{{ article.ref }}" target="_blank">Ref</a>
		{% else %}
		<ul>
			{% set i = 1 %}
			{% for ref in article.ref %}
			<li>
			<a href="{{ ref }}" target="_blank">Ref{{ i }}</a>
			</li>{% set i = i + 1 %}
			{% endfor %}
		</ul>
		{% endif %}
	</dd>
	{% endif %}
</dl>

<h3>Tags</h3>
<p>
{%- for tag in article.tags %}
<span><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a> </span>
{% endfor %}
</p>


<p>
<a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</p>

<p>
{{ article.category  }}
<a href="/images/{{ article.image }}">
<img src="/images/{{ article.image }}" />
</a>
</p>
{% endblock %}
</html>
