{% extends "base.html" %}

{% block title -%}
{{ article.title }}
{%- endblock title %}

{% block head %}

{{ super() }}
<meta name="description" content="{{ article.title }}">
<meta name="keywords" content="{{ article.tags|list|join(',') }}">


{% if article.media_type == 'video' %}
{{ macros.render_twitter_player_card_meta(article, SITEURL) }}
{% else %}
{{ macros.render_twitter_photo_card_meta(article, SITEURL) }}
{% endif %}

{% endblock %}

{% block content %}
<h2>{{ article.title }}</h2>
<dl>
	<dt>URL</dt>
	<dd>{{ SITEURL }}/{{ article.url }}</dd>

  {% if article.media_url %}
	<dt>Media URL</dt>
	<dd>{{ SITEURL }}/{{ article.media_url }}</dd>
  {% endif %}

	{% if article.origin %}
	<dt>Origin</dt>
	<dd><a href="{{ article.origin }}" target="_blank">origin</a></dd>
	{% endif %}
	{% if article.ref %}
	<dt>References</dt>
	<dd>
		{% if article.ref is string %}
		<a href="{{ article.ref }}" target="_blank">Ref</a>
		{% else %}
		<ul>
			{% set i = 1 %}
			{% for ref in article.ref %}
			<li>
			<a href="{{ ref }}" target="_blank">Ref{{ i }}</a>
			</li>{% set i = i + 1 %}
			{% endfor %}
		</ul>
		{% endif %}
	</dd>
	{% endif %}

  {% if article.media_type == 'video' %}
  <dt>Player Card URL</dt>
  <dd>
    <a href="{{ SITEURL }}/{{ article.player_card_url }}">{{ SITEURL }}/{{ article.player_card_url }}</a>
  </dd>
  {% endif %}
</dl>

<h3>Tags</h3>
<p>
{%- for tag in article.tags %}
<span><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a> </span>
{% endfor %}
</p>


<p>
<a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</p>

<p>


{% if article.media_type == 'video' %}
{{ macros.render_video(article, SITEURL) }}
{% else %}
<a href="./{{ article.media }}">
<img src="./{{ article.media }}" />
</a>
{% endif %}
</p>
{% endblock %}
</html>
