<!DOCTYPE html>
{% import "_macros.html" as macros %}
<html>
  <head>
	<title></title>
	<meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>

	{% if article.media_type == 'video' %}
	  {{ macros.render_twitter_player_card_meta(article, SITEURL) }}
	{% else %}
	  {{ macros.render_twitter_photo_card_meta(article, SITEURL) }}
	{% endif %}
	<link rel="stylesheet" href="{{ SITEURL }}/theme/style.css">
  </head>
  <body>
	{{ macros.render_video(article, SITEURL) }}

	<script src="{{ SITEURL }}/theme/common.js"></script>
  </body>
</html>
